extends layout

block content
    h1= title

    ul
        each inst in bookinstance_list
            li
                a(href=inst.url) #{inst.book.title} : #{inst.imprint} - 
                if inst.status=='Available'
                    span.text-success #{inst.status} 
                else if inst.status=='Maintenance'
                    span.text-danger #{inst.status} 
                else
                    span.text-warning #{inst.status}    
                if inst.status !='Available'
                    //- span (Due: #{inst.due_back} ) 
                    span ( Due: #{inst.due_back_formatted} )
        else
            li There are no book copies in this library.